<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Page erreur</title>
</head>
<body>
    <h1>Error</h1>
  <p><%= message %></p>
  <p><%= error.status %></p>
  <p><%= error.stack %></p>
</body>
</html>